*::before
*::after {
   padding: 0;
   margin: 0;
   border: 0;
box-sizing: border-box;
}
ul,
ol,
li {
    list-style: none;
    padding-left: 0px;
    margin: 0;
}
img {
    vertical-align: top;
    margin: 0;
    padding: 0;

}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
}


body {
    height: 100%;
    line-height: 1;
    font-size: 15px;
    font-family: 'Bitter', serif;
    color: #fff;
    background-color: #000;

/*     font-family: 'Roboto', sans-serif;
    font-weight: 400px; */
}




/* -------------------header--start-------------------- */
.header {
    display: flex;
}
.wrapper {

    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
    
    
}
.container {
    display: flex;
    width: 1440px;
    padding: 0px 15px 0xp 15xp;
    height: 50px;
    background-color: #B11226;
    align-items: center;
    justify-content: space-between;
    

}
.header_logo {
    font-family: 'Ranchers', cursive;
    font-size: 24px;
    font-weight: 400;
    line-height: 80%;
    margin-left: 41px;
}
.header_title {
    font-size: 24px;
    font-weight: 700;
    line-height: 116%;
    margin-left: auto;
    
}

.header__img {
    margin-right: 23px;
}
/* --------------------header---end------------------ */
/* ----------------------nav--start---------------------------- */
.nav {
    display: flex;
    z-index: 50;
    top: 66px;
    padding: 0px 0px 0px 0px;
    
}
.wrapper {
}
.nav_menu {
    margin-top: 15px;
   display: grid;
   grid-template-columns: 80px 80px 100px 80px 110px 110px;
   grid-gap: 75px;

}

.menu_link {
    font-size: 24px;
    font-weight: 400;
    line-height: 116%;
    text-decoration: none;
    color: #fff;

}

/* ----------------------nav--end---------------------------- */
/* ----------------------title-search---start--------------------------- */
.wrapper {
}
.title_container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.title {
    font-size: 24px;
    font-weight: 700;
    line-height: 85%;
}
.input_search {
display: flex;
justify-content: center;
margin-top: 35px;
position: relative;
right: 30px;
margin-bottom: 58px;
}

.search {
    font-size: 30px;
    font-weight: 700;
    line-height: 85%;
    width: 760px;
    height: 60px;
    display: flex;
    padding-left: 60px;
}
.search_img {
position: relative;
left: 55px;
}
.search_btn {
    width: 88px;
    height: 63px;
    margin-left: 20px;
    background-color: #fff;
}

.btn__img {
display: block;
margin: 9px auto  ;
}
/* ----------------------title-search---end--------------------------- */
/* --------------------------Recomend---start-------------------- */
.block_rec {
    position: relative;
    left: 41px;
    margin-bottom: 30px;
}

.title_rec {
    font-size: 30px;
    font-weight: 700;
    line-height: 83%;
    color: #B11226;

}
.goriяontal_lain {
    width: 1338px;
    border-bottom: #B11226 solid 5px;
    margin: 14px 0px 20px  0px;
}
.rec_container {
display: flex;
flex-wrap: wrap;
max-width: 900px;
padding-left: 10px;
}

.rec_trend {
    display: inline-flex;
    align-items: center;
    justify-content: center;
   color: #000;
   font-size: 24px;
   height: 40px;
   font-weight: 400;
   text-decoration: none;
   background-color: #DB2512;
margin-right: 70px;
margin-bottom: 35px;
   width: fit-content;
   padding-left: 8px;
}

.rec_trend-zig {
margin-right: 9px;
}
.rec_trend-X {
    width: 8px;
    height: 11px;
margin-left: 5px;
padding-right: 15px;
}

/* -----------------------Recomend----end----------------------- */
/* ---------------------muvies--start------------------------- */
.movie {
   
}
.wrapper {

}
.movie_block {
    
    margin: 0px 0px 0px 50px;
}
.movies_title {
    font-size: 48px;
    font-weight: 400;
    line-height: 84%;
    margin: 30px 0px 25px 0px;
}
.movies__aktion {
margin-top: 25px;
}
.movie_img {
    margin: 0px 50px 25px 0px;
}

@media (max-width: 1391px) {
    .movie_img-last {
        margin-right: 50px;
    }
}
/* ---------------------muvies--end ------------------------- */
/* -----------------footer--start------------------------ */
.wrapper {
}
.footer_block {
    margin-top: 256px;
    display: flex;
    justify-content: space-around;
    position: relative;
    right: 27px;
}
.footer_left {
    display: flex;
}
.footer_item {
    font-size: 15px;
    font-weight: 700;
    line-height: 83%;
    margin: 0px 0px 7px 0px;
}
.footer_items {
    margin: 0px 50px  50px 0px ;
}
.footer_left-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 85%;
    display: block;
    margin-bottom: 15px;

}
.footer_links {
    width: 120px;
    margin-right: 50px;
    
}
.footer_recommend {
    width: 120px;
    margin-right: 50px;
    margin-top: 33px;
}
.footer_contact {
    width: 120px;
    margin-right: 50px;
    margin-top: 33px;
    
}
.footer_right {
    position: relative;
    left: 5px;
}
.footer_right-title {
        font-size: 18px;
    font-weight: 700;
    line-height: 85%;
}
.footer_abut {
    font-size: 15px;
    font-weight: 700;
    line-height: 83%;
    width: 650px;
    margin-bottom: 15px;
}
.text_color {
    color: #B11226;
}


/* -----------------footer--end----------------------- */
/* ----------------modal-window-genre-start----------- */
.modal.show {
    display: block;
    z-index: 1050;
    opacity: 1;
  }

.modal {
position: absolute;
left: 25%;
right: 0;
top: 120px;
width: 100%;
height: 100%;
display: none;
}
.modal__dialog {
    position: relative;
    width: 450px;
    height: 250px;
    border: #B11226 solid 4px;
    border-radius: 20px;
    background-color: #fff;
    animation-name: animatetop;
    animation-duration: 0.4s;
}
.modal__content {
    margin: 30px 0px 0px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 24px 24px 24px 24px 24px 24px 24px ;
}
.modal__item {
    font-size: 24px;
    color: #707070;
    line-height: 85%;
}

.modal .hide {
    display: none;
     z-index: -1;
     opacity: 0;
}
/* ----------------modal-window-genre-end------------- */
/* ----------------btn-sing-in--start----------------- */
.btn_container {
position: absolute;
left: 0;
top: 1750px;
height: 815px;
width: 100%;
background-color: rgba(0, 0, 0, 0.84);
display: none;
}

.btn_content {
    display: flex;
    
    justify-content: center;
    margin-top: 260px;
    width: 100%;
}
.btn_sing-in {
    font-size: 64px;
    font-weight: 700;
    font-family: Amaranth;
    color: #fff;
    background-color: #B11226;
    width: 617px;
    height: 133px;
    align-items: center;
    justify-content: center;
    border: none;
}

/* ----------------btn-sing-in--end------------------- */
/* -------------------modal-sign-in--start------------ */
.modal_sign {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);

}
.midal_container {
    display: flex;
    width: 887px;
    height: 593px;
    background-color: #fff;
    border-radius: 58px;
margin: 150px auto 0 auto;
padding: 43px 223px 31px 223px;
box-sizing: border-box;
flex-wrap: wrap;
}
.modal_btns {
    display: flex;
    width: 440px;
    height: 67px;
    border: #000 solid 1px ;
    border-radius: 58px;
}
.head_btn-red {
    display: flex;
    font-size: 36px;
    font-weight: 700;
    line-height: 83%;
    color: #fff;
    text-decoration: none;
    width: 220px;
    background-color: #B11226;
    border-radius: 58px;
    align-items: center;
    justify-content: center;

}
.head_btn {
    font-size: 36px;
    font-weight: 700;
    line-height: 83%;
    display: flex;
    align-items: center;
margin-left: 25px;
    color: #B11226;
    text-decoration: none;

}
.modal_inputs {
    display: flex;
    flex-wrap: wrap;
}
.modal_input {
    font-size: 24px;
    line-height: 37%;
    color: #707070;
    width: 440px;
    height: 42px;
    border: none;
    border-bottom: #000 solid 1px;
}

.modal_forget {
    font-size: 18px;
    font-family: Segoe UI;
    color: #000;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    width: 440px;
    margin-bottom: 83px;
}
.btn_log-in {
    font-size: 36px;
    font-weight: 700;
    font-family: Advent Pro;
    line-height: 83%;
    width: 220px;
    height: 67px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B11226;
    border-radius: 53px;
    margin: 0 auto ;
    border: none;
}
.madal_or {
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 36px;
    display: flex;
    width: 440px;
    color: #707070;
    justify-content: center;
}

.modal_social {
    display: flex;
margin: 0 auto;
}
.modal_social :not(:last-child) {
    margin-right: 70px;
}
/* -------------------modal-sign-in--end-------------- */
/* body {
    height: 2570px;
    margin: 0;
    padding: 0;
} */